<html>
<head>
  <title>Identity</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link href="basscss.min.css" rel="stylesheet"/>
</head>
<body class="bg-darken-1">
  <div class="py1 bg-maroon white fs-12p line-height-1 center">
    TEST SITE - Do not use real personal information (demo purposes only) - TEST SITE
  </div>
  <div class="py1 bg-navy white fs-12p line-height-1 center">
    <img class="mr1 align-bottom" src="usa-flag.png" alt="U.S. flag" width="18" height="12"/>
    A DEMO website of the United States government  
  </div>
  <div class="py2 mb3 bg-white center">
    <img src="seal.png" class="align-middle" width="100"/>
  </div>

  <div class="clearfix">
    <div class="col-12 sm-col-6 mx-auto">
      <div class="h5 p2 bg-green white center">
        <span class="bold caps">Success!</span>
        <span>Your email is <strong th:text="${email}">foo@bar.com</strong>.</span>
        <br/><a href="/logout">Logout</a>
      </div>
    </div>
  </div>

  <div class="clearfix py3 mxn1">
      <div th:each="i: ${intrange}" class="sm-col sm-col-6 px1">
        <div class="p2 mb2 bg-white rounded">
          <div class="p1 mb1 bg-darken-1 col-7"></div>
          <div class="p1 mb1 bg-darken-1 col-10"></div>
          <div class="p1 mb1 bg-darken-1 col-5"></div>
          <div class="p1 mb1 bg-darken-1 col-8"></div>
          <div class="p1 mb1 bg-darken-1 col-6"></div>
          <div class="p1 mb1 bg-darken-1 col-11"></div>
          <div class="p1 mb1 bg-darken-1 col-8"></div>
        </div>
      </div>
  </div>
</body>
</html>
